@tailwind base;
@tailwind components;
@tailwind utilities;

.border-b-1{
    border-bottom: 1px solid gray;
}

body{
    height: 100vh;
}

.ql-editor{
font-size: 1.05rem;
}

.mywidth{
    width: 100%;
}

.w-inherit{
    width: inherit !important;
}